:root {
    --teal-050: #effcf6;
    --teal-100: #c6f7e2;
    --teal-200: #8eedc7;
    --teal-300: #65d6ad;
    --teal-400: #3ebd93;
    --teal-500: #27ab83;
    --teal-600: #199473;
    --teal-700: #147d64;
    --teal-800: #0c6b58;
    --teal-900: #014d40;
  
    --blue-grey-050: #f0f4f8;
    --blue-grey-100: #d9e2ec;
    --blue-grey-200: #bcccdc;
    --blue-grey-300: #9fb3c8;
    --blue-grey-400: #829ab1;
    --blue-grey-500: #627d98;
    --blue-grey-600: #486581;
    --blue-grey-700: #334e68;
    --blue-grey-800: #243b53;
    --blue-grey-900: #102a43;
  }
  
  html {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 125%;
    line-height: 1.4;
    font-weight: 400;
    color: var(--blue-grey-900);
  }
  
  body {
    min-height: 100vh;
    background: var(--blue-grey-100);
  }
  
  
  // For the month
  .month-indicator {
    color: var(--blue-grey-700);
    text-align: center;
    font-weight: 500;
    display: flex;
    flex-direction: column;
  }
  
  // CSS grid used for the dates
  .day-of-week,
  .date-grid {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  // Styles for the weekday/weekend header
  .day-of-week {
    margin-top: 1.25em;
  }
  
  .day-of-week > * {
    font-size: 1em;
    color: white;
    font-weight: 500;
    letter-spacing: 0.3em;
    font-variant: small-caps;
    text-align: center;
  }
  
  /* Dates */
  .date-grid {
    margin-top: 0.5em;
  }
  
  /* Positioning the first day */
  .date-grid button:first-child {
    grid-column: 2;
  }
  
  // Style for each day
  .date-grid button {
    position: relative;
    border: 0;
    width: 5.5ch;
    height: 5.5ch;
    border-radius: 50%;
    background-color: transparent;
    color: var(--blue-grey-600);
  }
  
  .date-grid button:hover,
  .date-grid button:focus {
    outline: none;
    background-color: var(--blue-grey-050);
    color: var(--blue-grey-700);
  }
  
  .date-grid button:active,
  .date-grid button.is-selected {
    background-color: var(--teal-100);
    color: var(--teal-900);
  }

  .typeDate{
    margin-top: 180px;
    margin-left: 500px;
  }

  .typeDate input{
    border-radius: 7px;
    width: 200px;
    height: 60px;
    border: transparent;
    font-size: 20px;
    background-color: white;
    color: #00ccff;
  }
  .typeDate input:active,
  .typeDate input.is-selected{
    border: transparent;
  }
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.middle{
&.hidden {
  visibility: hidden;
}

    //visibility: hidden;
    //display:none;
     // max-width: max-content;
     height: 450px;
     width: 370px;
     // margin-top: 180px;
     margin-left: 515px;
     // padding: 1.5em;
     background-image: linear-gradient(#00ccff, #ff6699);
     border: 2px solid var(--blue-grey-200);
     border-radius: 8px;
}

.typeDate input:focus {
    background-color: #eeeeee;
}

.typeDate input:focus .middle{
  visibility: visible;
}

.middle{
  //visibility: visible;
  animation: growDown 300ms ease-in-out;
  forwards
  {  transform-origin: top center;}
}

@keyframes growDown {
        0% {
          transform: scaleY(0)
      }
      80% {
          transform: scaleY(1.1)
      }
      100% {
          transform: scaleY(1)
      }
  }

.buttom{
  margin : 20px;
  margin-left: 70px;
}

.buttom button {
  color: linear-gradient(#00ccff, #ff6699);
  border-radius: 10px;
  height: 30px;
  width: 120px;
}